# Web framework
Django==4.2.11
djangorestframework==3.15.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
python-dotenv==1.0.1

# Machine learning & vision
torch==2.2.1
torchvision==0.17.1
opencv-python==4.9.0.80
Pillow==10.1.0
numpy==1.26.2
matplotlib==3.8.2

# Task processing
celery==5.3.4
redis==5.0.1

# Utilities
requests==2.31.0
